<div class="form-group">
    <label class="col-sm-3 control-label">Articolo</label>
    <input type="hidden" name="item"/>
    <div class="col-sm-9">
        <label class="col-sm-6">
            Nome
            <input type="text" class="form-control" data-filter-name="name"/>
        </label>
        <label class="col-sm-6">
            Tipo
            <select class="form-control" data-filter-name="type">
                <option></option>
                <option value="reagent">Reagente</option>
                <option value="solvent">Solvente</option>
                <option value="glassware">Vetreria</option>
                <option value="equipment">Attrezzatura</option>
                <option value="other">Altro</option>
            </select>
        </label>
    </div>
</div>
