{% extends '::base.html.twig' %}
{% import '::navbar.html.twig' as navbar %}

{% block title %}ChemLab - gestore laboratorio{% endblock %}

{% block stylesheets %}
		<link rel="stylesheet" href="/common/css/site.min.css"/>
{% endblock %}
{% block javascripts %}
		<script type="text/javascript" src="/common/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/common/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/common/js/bootbox.min.js"></script>
{% endblock %}

{% block body %}
	{{ navbar.draw() }}
	<div class="container">
		<h2>ChemLab - gestore laboratorio</h2>
		<hr/>
        {% if app.user %}
        <h3>Benvenut{% if app.user.gender == "F" %}a{% else %}o{% endif %}, {{ app.user.name }} {{ app.user.surname }}.</h3>
        {% endif %}
		I dati:
		<pre>
{{ data }}
		</pre>
	</div>
{% endblock %}